<!DOCTYPE html>
<html>

<head>
  <title>Misson to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body style="background-color: rgb(26, 25, 25); color:white; font-family:'Courier New', Courier, monospace;">
  <div class="jumbotron jumbotron-fluid" align=center style="background-color: rgb(100, 28, 11);">
    <h1 class="display-4"><strong>Mission to Mars</strong></h1>
    <button>
      <a class="btn btn-outline btn-lg" href='/scrape' role="buttom"><strong>Update Information</strong>
        <br>(New Scrape)</a>
    </button>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

        <h1> <strong><u>This Just In:</strong></u></h1>
        <h2><strong>{{data_from_flask['news_t']}}</strong></h2>
        <h3>{{data_from_flask['news_p']}}</h3>
        <br>
        <br>
      </div>
    </div>
  </div>

  <div class="container-fluid" align=center>
    <div class="row">
      <div class="col-lg-8">
        <h1> <strong>Featured Image</strong></h1>
        <img style="max-height: 780px" src='{{data_from_flask["image_url"]}}' />
      </div>
      <div class="col-lg-4 d-flex justify-content-left">
        <figure>
          <br>
          <br>
          <br>
          <br>

          <h1 align=left> Mars Statistics </h1>
          {{data_from_flask['table_html'] | safe}}
        </figure>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <br>
    <br>
    <h1 align=center> <strong>Hemispheres of Mars</strong></h1>
    <br>
    <br>

    <div class="row">
    {% for i in data_from_flask["hemisphere_images"] %}
   
      <div class="col-sm-6" align=center>
        <h3> {{i["Title"]}}</h3>
        <img class=".img-fluid" style="max-width: 75%; height:auto;"
          src='{{i["Image URL"]}}' />
      </div>

    {% endfor %}
    </div>
    
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



</body>

</html>